<div class="form-vertical">
  {% form 'customer' %}
    {{ form.errors | default_errors }}
    {% if form.posted_successfully? %}
      <p class="note form-success">{{ 'layout.footer.newsletter_confirmation' | t }}</p>
    {% else %}
      <input type="hidden" name="contact[tags]" value="newsletter">
      <div class="input-group">
        <input style="background-color: #fff;" type="email" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="{{ 'general.newsletter_form.newsletter_placeholder' | t }}" name="contact[email]" id="Email" class="input-group-field newsletter__input" autocorrect="off" autocapitalize="off">
          <span class="input-group-btn">
            <button id="Subscribe" type="submit"
              class="btn newsletter__submit"
              aria-label="{{ 'general.newsletter_form.submit' | t }}">
              <span class="newsletter__submit-text--large">{{ 'general.newsletter_form.submit' | t }}</span>
              <span class="newsletter__submit-text--small">
                <span style="font-size: 20px;" class="fa fa-paper-plane" aria-hidden="true"></span>
              </span>
            </button>
          </span>
      </div>
    {% endif %}
  {% endform %}
</div>
