<div id="home-features" class="index-section home-section">
  <div class="wrapper wrapper--margins">
    <div class="home-features">
      {% if section.settings.title != blank %}
        <h1 style="font-weight: 500;" class="home-section-title">{{ section.settings.title | escape }}</h1>
        <hr style="margin-bottom: 50px" class="hr--small">
      {% endif %}

      <ul class="features-list grid grid-margins">

	  {% for block in section.blocks %}

        {% case block.settings.width %}
          {% when '25%' %}
            {%- assign grid_class = 'grid__item large--one-quarter medium--one-half small--text-center' -%}
          {% when '33%' %}
            {%- assign grid_class = 'grid__item large--one-third medium-down--text-center' -%}
          {% when '50%' %}
            {%- assign grid_class = 'grid__item large--one-half medium--one-half small--text-center' -%}
          {% when '66%' %}
            {%- assign grid_class = 'grid__item large--two-thirds medium-down--text-center' -%}
          {% when '75%' %}
            {%- assign grid_class = 'grid__item large--three-quarters medium-down--text-center' -%}
          {% when '100%' %}
            {%- assign grid_class = 'grid__item one-whole--text-center' -%}
        {% endcase %}


			<li class="{{ grid_class }}" {{ block.shopify_attributes }}>
				<i class="fa fa-{{ block.settings.home-features-icon | escape }} fa-3x"></i>
				<h3 class="h4">{{ block.settings.home-features-title | escape }}</h3>
				{{ block.settings.home-features-content }}
			</li>

      {% endfor %}

      </ul>

    </div>
</div>
</div>



{% schema %}
{
  "name": {
    "de": "Textspalten mit Symbolen",
    "en": "Text columns with icons",
    "es": "Texto con iconos",
    "fr": "Texte avec des icônes",
    "it": "Testo con icone",
    "ja": "アイコン付きテキスト列",
    "nl": "Kolom met pictogrammen",
    "pt-BR": "Texto com ícones",
    "zh-CN": "带图标的文本列",
    "zh-TW": "附圖示的文字欄"
  },
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": {
        "de": "Titel",
        "en": "Heading",
        "es": "Título",
        "fr": "Titre",
        "it": "Heading",
        "ja": "見出し",
        "nl": "Kop",
        "pt-BR": "Título",
        "zh-CN": "标题",
        "zh-TW": "標題"
      },
      "default": {
        "de": "Textspalten mit Symbolen",
        "en": "Text columns with icons",
        "es": "Columnas de texto con iconos",
        "fr": "Colonnes de texte avec des icônes",
        "it": "Colonne di testo con icone",
        "ja": "アイコン付きテキスト列",
        "nl": "Kolom met pictogrammen",
        "pt-BR": "Colunas de texto com ícones",
        "zh-CN": "带图标的文本列",
        "zh-TW": "附圖示的文字欄"
      }
    }
  ],
  "presets": [
    {
      "name": {
        "de": "Textspalten mit Symbolen",
        "en": "Text columns with icons",
        "es": "Columnas de texto con iconos",
        "fr": "Colonnes texte et icônes",
        "it": "Colonne di testo con icone",
        "ja": "アイコン付きテキスト列",
        "nl": "Kolom met pictogrammen",
        "pt-BR": "Texto com ícones",
        "zh-CN": "带图标的文本列",
        "zh-TW": "附圖示的文字欄"
      },
      "category": {
        "de": "Text",
        "en": "Text",
        "es": "Texto",
        "fr": "Texte",
        "it": "Testo",
        "ja": "テキスト",
        "nl": "Tekst",
        "pt-BR": "Texto",
        "zh-CN": "文本",
        "zh-TW": "文字"
      },
      "blocks": [
        {
          "type": "text"
        },
        {
          "type": "text"
        },
        {
          "type": "text"
        }
      ]
    }
  ],
  "blocks": [
    {
      "type": "text",
      "name": {
        "de": "Eine Funktion beschreiben",
        "en": "Describe a feature",
        "es": "Describir una función",
        "fr": "Décrire une fonction",
        "it": "Descrivi una funzionalità",
        "ja": "特徴を説明する",
        "nl": "Beschrijf een feature",
        "pt-BR": "Descreva um recurso",
        "zh-CN": "描述一个功能",
        "zh-TW": "描述功能"
      },
      "settings": [
        {
          "type": "text",
          "id": "home-features-icon",
          "label": {
            "de": "Symbolname",
            "en": "Icon name",
            "es": "Nombre de ícono",
            "fr": "Nom de l'icône",
            "it": "Nome icona",
            "ja": "アイコン名",
            "nl": "Pictogramnaam",
            "pt-BR": "Nome do ícone",
            "zh-CN": "图标名称",
            "zh-TW": "圖示名稱"
          },
          "default": {
            "de": "edit",
            "en": "edit",
            "es": "edit",
            "fr": "edit",
            "it": "edit",
            "ja": "edit",
            "nl": "edit",
            "pt-BR": "edit",
            "zh-CN": "edit",
            "zh-TW": "edit"
          },
          "info": {
            "de": "[Liste der verfügbaren Symbole anzeigen](https://fontawesome.com/v4.7.0/icons/)  Beispiel: Bluetooth",
            "en": "[View the list of available icons](https://fontawesome.com/v4.7.0/icons/)  Example: bluetooth",
            "es": "[Ver la lista de íconos disponibles](https://fontawesome.com/v4.7.0/icons/)  Ejemplo: bluetooth",
            "fr": "[Afficher la liste d'icônes disponibles](https://fontawesome.com/v4.7.0/icons/)  Exemple : bluetooth",
            "it": "[Visualizza l'elenco delle icone disponibili](https://fontawesome.com/v4.7.0/icons/)  Esempio: bluetooth",
            "ja": "[利用可能なアイコンのリストを表示する](https://fontawesome.com/v4.7.0/icons/)例: Bluetooth",
            "nl": "[Bekijk de lijst met beschikbare pictogrammen](https://fontawesome.com/v4.7.0/icons/)  Voorbeeld: bluetooth",
            "pt-BR": "[Veja os ícones disponíveis](https://fontawesome.com/v4.7.0/icons/)  Exemplo: bluetooth",
            "zh-CN": "[查看可用图标列表](https://fontawesome.com/v4.7.0/icons/)示例：蓝牙",
            "zh-TW": "[檢視可用圖示清單](https://fontawesome.com/v4.7.0/icons/)範例：藍牙"
          }
        },
        {
          "type": "text",
          "id": "home-features-title",
          "default": {
            "de": "Eine Funktion beschreiben",
            "en": "Describe a feature",
            "es": "Describir una función",
            "fr": "Décrire une fonctionnalité",
            "it": "Descrivi una funzionalità",
            "ja": "特徴を説明する",
            "nl": "Beschrijf een feature",
            "pt-BR": "Descreva um recurso",
            "zh-CN": "描述一个功能",
            "zh-TW": "描述功能"
          },
          "label": {
            "de": "Titel",
            "en": "Title",
            "es": "Título",
            "fr": "Titre",
            "it": "Titolo",
            "ja": "タイトル",
            "nl": "Titel",
            "pt-BR": "Título",
            "zh-CN": "标题",
            "zh-TW": "標題"
          }
        },
        {
          "type": "richtext",
          "id": "home-features-content",
          "label": {
            "de": "Text",
            "en": "Text",
            "es": "Texto",
            "fr": "Texte",
            "it": "Testo",
            "ja": "テキスト",
            "nl": "Tekst",
            "pt-BR": "Texto",
            "zh-CN": "文本",
            "zh-TW": "文字"
          },
          "default": {
            "de": "<p>Dieser Bereich hat zur Zeit keinen Inhalt.Fügen Sie diesem Bereich über die Seitenleiste Inhalte hinzu.</p>",
            "en": "<p>This section doesn’t currently include any content. Add content to this section using the sidebar.</p>",
            "es": "<p>Esta sección no incluye contenido actualmente. Agrega contenido a esta sección mediante la barra lateral.</p>",
            "fr": "<p>Il n'y a aucun contenu dans cette section pour l'instant. Ajoutez du contenu à cette section en utilisant la barre latérale.</p>",
            "it": "<p>Attualmente questa sezione non contiene alcun contenuto. Aggiungi del contenuto a questa sezione utilizzando la sidebar.</p>",
            "ja": "<p>このセクションには現在コンテンツがございません。サイドバーを使ってコンテンツを追加しましょう。</p>",
            "nl": "<p>Dit gedeelte heeft momenteel geen inhoud. Voeg met de zijbalk inhoud toe aan dit deel.</p>",
            "pt-BR": "<p>Atualmente, esta seção não possui nenhum conteúdo. Adicione conteúdo a esta seção usando a barra lateral.</p>",
            "zh-CN": "<p>此部分目前不包含任何内容。使用侧边栏向此部分添加内容。</p>",
            "zh-TW": "<p>此區段目前並無內容。 請用側邊欄在此區段新增內容。</p>"
          },
          "info": {
            "de": "Verwenden Sie einfaches HTML zum Formatieren von Text",
            "en": "Use basic HTML to format text",
            "es": "Utiliza HTML básico para formatear texto",
            "fr": "Utiliser le langage HTML de base pour mettre en forme du texte",
            "it": "Usa l'HTML di base per formattare il testo",
            "ja": "テキストの書式設定に簡単なHTMLを使用する",
            "nl": "Gebruik standaard HTML om tekst te formatteren",
            "pt-BR": "Use HTML básico para formatar o texto",
            "zh-CN": "使用基本 HTML 设置文本格式",
            "zh-TW": "使用基本 HTML 設定文字格式"
          }
        },
        {
          "type": "select",
          "id": "width",
          "label": {
            "de": "Breite des Elements",
            "en": "Container width",
            "es": "Ancho del contenedor",
            "fr": "Largeur du conteneur",
            "it": "Larghezza contenitore",
            "ja": "コンテナーの幅",
            "nl": "Containerbreedte",
            "pt-BR": "Largura do recipiente",
            "zh-CN": "容器宽度",
            "zh-TW": "容器寬度"
          },
          "default": "33%",
          "options": [
            {
              "value": "25%",
              "label": {
                "de": "25%",
                "en": "25%",
                "es": "25%",
                "fr": "25 %",
                "it": "25%",
                "ja": "25%",
                "nl": "25%",
                "pt-BR": "25%",
                "zh-CN": "25％",
                "zh-TW": "25%"
              }
            },
            {
              "value": "33%",
              "label": {
                "de": "33%",
                "en": "33%",
                "es": "33%",
                "fr": "33 %",
                "it": "33%",
                "ja": "33%",
                "nl": "33%",
                "pt-BR": "33%",
                "zh-CN": "33%",
                "zh-TW": "33%"
              }
            },
            {
              "value": "50%",
              "label": {
                "de": "50%",
                "en": "50%",
                "es": "50%",
                "fr": "50 %",
                "it": "50%",
                "ja": "50%",
                "nl": "50%",
                "pt-BR": "50%",
                "zh-CN": "50%",
                "zh-TW": "50%"
              }
            },
            {
              "value": "66%",
              "label": {
                "de": "66%",
                "en": "66%",
                "es": "66%",
                "fr": "66 %",
                "it": "66%",
                "ja": "66%",
                "nl": "66%",
                "pt-BR": "66%",
                "zh-CN": "66%",
                "zh-TW": "66%"
              }
            },
            {
              "value": "75%",
              "label": {
                "de": "75%",
                "en": "75%",
                "es": "75%",
                "fr": "75 %",
                "it": "75%",
                "ja": "75%",
                "nl": "75%",
                "pt-BR": "75%",
                "zh-CN": "75%",
                "zh-TW": "75%"
              }
            },
            {
              "value": "100%",
              "label": {
                "de": "100%",
                "en": "100%",
                "es": "100%",
                "fr": "100 %",
                "it": "100%",
                "ja": "100%",
                "nl": "100%",
                "pt-BR": "100%",
                "zh-CN": "100%",
                "zh-TW": "100%"
              }
            }
          ]
        }
      ]
    }
  ]
}
{% endschema %}
